.about {
    .content-33 {
        padding: 20px;

        img {
            width: 100%;
        }

        @media @phone {
            width: 100%;
        }
    }

    .team {

        .content-33 {
            @media @tablet {
                width: 50%;
            }
        }

    }

    #img1 {
        width: 200%;
        z-index: -10;
        margin-left: -90%;
        margin-top: 10%;
        position: relative;

        @media @tablet {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
    }
}